<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Component</title>
    <style>
        input{
            display: block;
            margin: 5px;
        }
    </style>
</head>
<body>
    <div id="app">
        <login-form/>
    </div>
</body>
<script src="https://unpkg.com/vue@3"></script>
<script>
    let app = Vue.createApp({

    })
    app.component('login-form', {
        template:`
        <h1>{{ title }}</h1>
        <form @submit.prevent="handleSubmit">
            <custom-input 
            v-for="(input, i) in inputs"
            :key="i"
            :label="input.label" 
            :type="input.type" 
            :placeholder="input.placeholder"
            v-model="input.value"
            />
            <button>Login</button>
        </form>
        `,
        data(){
            return {
                title: 'Login Page',
                inputs: [
                    {
                        label: 'username',
                        type: 'email',
                        value: '',
                        placeholder: 'Insert your username'
                    },
                    {
                        label: 'password',
                        type: 'password',
                        value: '',
                        placeholder: 'Insert your Password'
                    },
                    {
                        label: 'name',
                        type: 'text',
                        value: '',
                        placeholder: 'Insert your Name'
                    },
                    {
                        label: 'Phone',
                        type: 'text',
                        value: '',
                        placeholder: 'Insert your phone number'
                    }

                ]

            }
        },
        methods: {
            handleSubmit(){
                console.log(this.inputs[0].value, this.inputs[1].value)
            }
        }
    })
    app.component('custom-input',{
        template:`
            <label>
                {{ label }}
                <input :type="type" v-model="inputValue" :placeholder="placeholder">
            </label>
        `,
        props: ['label', 'type', 'modelValue', 'placeholder'],
        computed: {
            inputValue:{
                get(){
                    return this.modelValue
                },
                set(value){
                    this.$emit('update:modelValue', value)
                }   
            }
        }
    })

    app.mount('#app')
</script>
</html>