<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Component</title>
    <style>
        input{
            display: block;
            margin: 5px;
        }
    </style>
</head>
<body>
    <div id="app">
        <login-form/>
    </div>
</body>
<script src="https://unpkg.com/vue@3"></script>
<script>
    let app = Vue.createApp({

    })
    app.component('login-form', {
        template:`
        <h1>{{ title }}</h1>
        <form @submit.prevent="handleSubmit">
            <custom-input :label="label_username" :type="email" v-model="username"/>
            <custom-input :label="label_username" :type="email" v-model="username"/>
            <custom-input :label="label_password" :type="password" v-model="password_value"/>
            <button>Login</button>
        </form>
        `,
        data(){
            return {
                title: 'Login Page',
                label_username: 'Username',
                label_password: 'Password',
                email: 'email',
                password: 'password',
                username: null,
                password_value: null
            }
        },
        methods: {
            handleSubmit(){
                console.log(this.username, this.password_value)
            }
        }
    })
    app.component('custom-input',{
        template:`
            <label>
                {{ label }}
                <input :type="type" v-model="inputValue">
            </label>
        `,
        props: ['label', 'type', 'modelValue'],
        computed: {
            inputValue:{
                get(){
                    return this.modelValue
                },
                set(value){
                    this.$emit('update:modelValue', value)
                }   
            }
        }
    })

    app.mount('#app')
</script>
</html>